.quill-editor{
    width: 100%;
}

.edit-select-line{
    margin: 1rem 0;
}

.quill-code {
    border: none;
    height: auto;
    > code {
      width: 100%;
      margin: 0;
      padding: 1rem;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0;
      height: 10rem;
      overflow-y: auto;
      resize: vertical;
    }
  }
  .el-input__inner{
      color: black;
      background-color: none;
      border-color: black;
  }
  .el-button{
      width: 100%;
      margin: 1rem 0;
  }