.el-aside{
    width: 260px;
    background-color: #293f54;
    overflow-y: scroll;
}
.el-menu{
    border: none;
}
.layout-container{
    height: 100vh;
}
.aside-title{
    color: #fff;
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}

.el-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login-btn{
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
    color: #333;
}
.login-btn:hover{
    background-color: rgb(216, 212, 212);
}